header
  nav ul
    width 70%
    display flex
    margin 1em auto
    justify-content space-between
    align-items center
    a
      color darkBlue
      font-weight bold
      font-size 1.15em
      letter-spacing 3px
  #logo
    min-width 200px
