@media print
  header,
  footer,
  #tomatoes
    display none
  .container
    width 100%
    #recipe
      margin-top 0
      .recipe-title
        position relative
        margin-left 0
        margin-bottom 1.5em
      .recipe-image
        position absolute
        transform none
        right 0
      .recipe-details
        box-shadow none
        &__informations
          margin-left 0
