#about
  width 75%
  margin 0 auto
  letter-spacing 2.23px
  h1
    font-size 1.563em
    color blue
    text-align center
    margin-top 1.5em
  .description
    margin 2em 0
    p
      margin-bottom 1em
      line-height 1.2
  .team
    display flex
    flex-flow row wrap
    justify-content space-between
    a
      width 21%
      margin-bottom 3em
    img
      object-fit cover
      width 100%
      height 100%
      border-radius 5px
  +below(875px)
    .team a
      width 48%
      margin-bottom 1.5em
      &:last-child
        display none
  #plate
    position fixed
    right -25%
    top 12vh
    background-image url('/static/images/about/plate.png')
    width 650px
    height 835px
    background-size contain
    background-repeat no-repeat
    transform rotateZ(57deg)
    z-index -1
    +below(875px)
      display none
