#sort
  display block
  text-align center
#recipes
  display flex
  width 65%
  flex-wrap wrap
  justify-content space-between
  margin .5em auto 0
  max-width 860px
  .no-recipe
    text-align center
    width 100%
    font-size 1.2em
    color orange
    margin-top 3em
  li
    width 19.5vw
    max-width 260px
    margin-bottom 1.7em
    img
      width 100%
      height 19.5vw
      max-height 260px
      object-fit cover
    .title
      display flex
      flex-wrap wrap
      justify-content center
      align-items center
      min-height 56px
      color orange
      font-size 1.75em
      text-align center
      padding-top 8px
      margin .2em 0
      font-weight 900
      text-transform uppercase
      letter-spacing 2px
      vertical-align middle
    .description
      display block
      font-size 1em
      text-align center
      line-height 1.3em
      margin-top 1em
      color black
#pie
  position absolute
  right 0
  top 60vh
  background-image url('/static/images/city/pie.png')
  width 200px
  height 700px
  background-repeat no-repeat
