.container
  width 65%
  margin 0 auto 2em
  #recipe
    margin-top 10em
    .recipe-image
      position absolute
      z-index 2
      transform translateY(-35%)
      img
        height 28vw
        width 28vw
        object-fit cover
        margin-left 3.5em
        border-radius 5px
    .recipe-details
      background-color #FFF
      box-shadow rgba(0, 0, 0, .10) 0 9px 20px 0
      padding 3.5em
      padding-top 2.5em
      position relative
      letter-spacing 2.31px
      h1
        color orange
        font-size 1.9em
        letter-spacing 3px
        font-weight 900
        min-width 250px
        max-width 50%
        letter-spacing 5.67px
      h2
        color blue
        font-size 1.5em
        margin-bottom 1em
        letter-spacing 2.38px
    .recipe-title,
    .recipe-details__informations
      margin-left 29.5vw
    .recipe-title
      position absolute
      bottom calc(100% + .5em)
    .recipe-details__informations,
    .recipe-details__ingredients
      display inherit
      line-height  1.7em
    .recipe-details__informations
      color blue
    .recipe-details__ingredients
      margin-top 2em
      p
        display none
      ul
        display inline-flex
        flex-wrap wrap
      li
        width 50%
    .recipe-details__recipe
      margin-top 2em
      p
        margin-bottom .8em

#tomatoes
  position fixed
  right 0
  top 12vh
  background-image url('/static/images/recipe/tomatoes.png')
  width 650px
  height 835px
  background-size contain
  background-repeat no-repeat
  transform rotateZ(21deg)
  z-index -1
